[Unit]
Description={{ app_name }} Service
After=syslog.target network.target docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker exec {{ app_name }} stop
ExecStartPre=-/usr/bin/docker rm {{ app_name }}
ExecStart=/usr/bin/docker run \
    --name {{ app_name }} \
    -p 8080:8080 \
    "{{ docker_image_name }}:{{ app_tag }}"
ExecStop=docker stop %n
Restart=always

[Install]
WantedBy=multi-user.target